/*  The '*' Wildcard is used to overwrite default browser styles */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* General Styles */
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* generic project styles */
    color: #3a3a3a;

}

/* Header */
header{
    background-color: aqua;
}

/* Main Content */
main{
    background-color: blueviolet;
    /*Make the main element take up the space*/
    flex: 1 0 auto;
}

/* Footer */
footer{
    background-color: red;
}